.content {
    display: flex;
    height: 100vh;
  
}
@media (max-width: 480px){
    .content{
        flex-direction: column-reverse;
        height: 90vh;
        justify-content: center;
        align-items: center
    }
    .Info{
        height: 2000vh;
        justify-content: flex-start
    }
}
@media (max-width: 480px){
    
}
.Info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 110vh;
    background-color: #ebf2fa;
    overflow: none;
}
.myButton2{
    background-color:  #427aa1;
    border-radius: 10px;
    color: #ebf2fa; 
    font-size: 15px;
    font-family: Oswald;
  
  }