@import url('https://fonts.googleapis.com/css?family=Oswald');
@media (min-width: 480px){
    .navBar{
        flex-direction: column;
        height: 100vh;
        
    }
    .myButton{
        height: 10vh;

    }
}
@media (max-width: 480px){
    .navBar{
        width: 100%;
        height: 10vh;
        position: fixed;
        opacity: 1;
    }
    .myButton{
        height: 100%
    }
    }
.navBar{
    display: flex;
    background-color: #05668d;
    margin-top: auto;
    bottom: 0;
    
}
.myButton{

    width: 100%;
    opacity: 4;
    text-decoration: none;
    color: #ebf2fa; 
    font-family: Oswald;
    
}
