@media (max-width: 480px){
    .display{
        flex-direction: column;
    }
    .card{
        width: 30%;
        height: 10vh;
    }
}
.card{
    border: .5px solid black;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 40vh;
    height: 50vh;
    margin: 20px
}
.display{
     display: flex;
    flex-wrap: wrap;

}
.App-header {
  background-color: #679436;
  height: 50px;
  padding: 20px;
  color: #ebf2fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
